@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



:root{

    --clr-P-nutmeg: hsl(14, 45%, 36%);
    --clr-P-darkRaspberry: hsl(332, 51%, 32%);
    
    --clr-N-white: hsl(0, 0%, 100%);
    --clr-N-roseWhite: hsl(330, 100%, 98%);
    --clr-N-eggshell: hsl(30, 54%, 90%);
    --clr-N-lightGrey: hsl(30, 18%, 87%);
    --clr-N-wengeBrown: hsl(30, 10%, 34%);
    --clr-N-darkCharcoal: hsl(24, 5%, 18%);

    /*font-size:*/
    --fs-sm: clamp(0.8rem, 0.2vw + 0.7rem, 0.9rem);
    --fs-base: clamp(0.9rem, 0.3vw + 0.9rem, 1.2rem);
    --fs-md: clamp(1.2rem, 0.6vw + 1rem, 1.6rem);
    --fs-lg: clamp(1.5rem, 0.9vw + 1.3rem, 2.1rem);
    --fs-xl: clamp(1.8rem, 1.4vw + 1.5rem, 2.8rem);
    --fs-xxl: clamp(2.3rem, 2.1vw + 1.8rem, 3.7rem);
    --fs-xxxl: clamp(2.9rem, 3.1vw + 2.1rem, 4.9rem);
    /*fs*/

    --ff-S: "Young Serif", serif;
    --ff-P: "Outfit", sans-serif;

    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}

/*CSS RESET*/

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section,img {
        display: block;
    }
    img{
        width: 100%;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

/*CSS RESET*/
body{
    font-family: var(--ff-P);
    font-weight: var(--fw-400);
    font-size: var(--fs-base);
    color: var(--clr-N-wengeBrown);
    margin-bottom: 1rem;
}
h1,h2,h3{
    font-family: var(--ff-S);
}
h1{
    font-size: var(--fs-xl);
}
h2{
    font-size: var(--fs-lg);
    color: var(--clr-P-nutmeg);
}

table{
    width: 100%;
}
tr{
    border-bottom: 0.125rem solid var(--clr-N-lightGrey);
}

tr > td + td {
    padding: 0.75rem;
    color: var(--clr-P-nutmeg);
    font-weight: var(--fw-600)
}

tr td {
    padding-left: 5rem;
}
@media screen and (min-width: 50em) {
    body{
        background-color: var(--clr-N-eggshell);
    }
    main{
        --_radius: 1.5rem;
        display: grid;
        place-items: center;
        border: red;
        max-width: 40rem;
        margin: auto;
        margin-top: 5rem;
        border-radius: var(--_radius);
        overflow: hidden;
        background-color: var(--clr-N-white);
        padding: 1rem;
    } 
    img{
        border-radius: var(--_radius);
    }
}
/*customProp*/
.container{
    margin-inline: auto;
    width: min(100% - 2rem, 50em);
}
.flow-sm > * + *{
    margin-top: .5rem;
}
.flow-base > * + *{
    margin-top: 1rem;
}
.flow-big > * + *{
    margin-top: 2.5rem;
}
.fontSize-mid{
    font-size: var(--fs-base);
}
.fontFamily{
    font-family: var(--ff-P);
}
.bg-rose{
    background-color: var(--clr-N-roseWhite);
}
.destaque{ font-weight: 600; color: var(--clr-N-darkCharcoal);}
.listmargin{ margin-left: 1.25rem;}
.disc{list-style: disc;}
.number{list-style: decimal;}
.padding{ padding:  2rem;}
.darkR{
    color: var(--clr-P-darkRaspberry);
}
::marker{
    color: var(--clr-P-nutmeg);
}